#main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#write {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.change-form {
  display: flex;
  gap: 18px;
  padding-bottom: 12px;
}
