<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Japanese learning tool</title>
  </head>
  <body id="main">
    <div id="write">
      <h1>Japanese vocabulary thingy</h1>

      <h2 id="show_word">{{ hiragana }}</h2>

      <div>
        <input type="text" id="answer" autocomplete="off" autofocus />
      </div>
    </div>

    <div id="config">
      <h2>Options menu</h2>

      <section class="sub">
        <h3>Add new word</h3>

        <form action="PUT" id="add-word">
          <div class="change-form">
            <div>
              <p>Meaning:</p>
              <input type="text" id="meaning" placeholder="Meaning" />
              <p>Hiragana:</p>
              <input type="text" id="new-hiragana" placeholder="Hiragana " />
              <p>Katakana:</p>
              <input type="text" id="new-katakana" placeholder="Katakana " />
            </div>
            <div>
              <p>Kanji:</p>
              <input type="text" id="new-kanji" placeholder="Kanji" />
              <p>Note:</p>
              <input type="text" id="new-note" placeholder="Note" />
            </div>
          </div>
          <button id="submit-word">Add Word</button>
        </form>
      </section>

      <section class="sub">
        <h3>Update word</h3>

        <form action="">
          <div class="change-form">
            <input type="text" id="new-hiragana" placeholder="Hiragana " />
            <input type="text" id="new-katakana" placeholder="Katakana " />
            <input type="text" id="new-kanji" placeholder="Kanji" />
            <input type="text" id="new-note" placeholder="Note" />
            <button id="submit-word">Update word</button>
          </div>
        </form>
      </section>

      <section class="sub">
        <h3>Change fonts</h3>

        <div id="font-select">
          <input type="checkbox" />
        </div>
      </section>
    </div>
  </body>
</html>
